@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'Lexend';
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
}

.login-body {
  background-image: url('../src/assets/purple.png');
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 40vh;
  background-color: #f0e6dc;
  border-radius: 10px;
  border: 1px solid black !important;
}

.lobby-row {
  height: calc(100vh - 64px); /* 64px is the height of the navbar */
  margin: 0;
  overflow: hidden;
}


#custom-navbar {
  background: #f0e6dc;
  position: relative;
  height: 64px;
  width: 100%;
}
.hide-on-mobile {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.leave-room-btn {
}

.info-bar {
  background-color: #f0e6dc;
  border-left: 2px solid black;
  height: 100%;
  padding: 1rem;
  color: red;
}

.message-item {
  display: inline-block;
  width: fit-content;
  border: 1px solid black !important;
}

.nopadding {
  padding: 0 !important;
  overflow: hidden;
}

/* MEDIA QUERRIES */
@media screen and (min-width: 768px) {
  #offcanvasNavbar-expand-lg .justify-content-end.flex-grow-1.pe-3 > * {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  #fluid-desk {
    position: absolute;
  }
  #custom-navbar {
    padding: 0;
    margin: 0;
    display: flex;
  }
  .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100vh;
    width: 100%;
  }

  #custom-navbar-nav {
    border-bottom: 1px solid black;
  }

  #offcanvas-content {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    opacity: 0;
    visibility: hidden;
    display: none;
    
  }
  .info-bar {
    display: none;
    
  }
 

  .login-container {
    height: auto;
    padding: 1rem;
  }
  #custom-navbar {
   position: fixed;
   
  }
  .msg-list-group {
    margin-top: 4rem;

  }

  .send-message-mobile {
    position: fixed;
    z-index: 23;
    bottom: 0;
    overflow-y: auto;
    
    
    
  }
  .msg-window-mobile {
    max-height: 93vh;
    overflow-y: auto;
  }
}
