@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'Lexend';
}

.login-body {
  background-image: url('../src/assets/purple.png'); 
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 40vh;
  background-color: #F0E6DC;
  border-radius: 10px;
  border: 1px solid black !important;

}



#custom-navbar {
  background: #F0E6DC;
  position: relative;
  height: 64px;
  width: 100%;
}
.hide-on-mobile {
  display: flex;
  align-items: start;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  

}

.message-item {
  margin-bottom: 1rem;
  display: inline-block;
  width: fit-content;
  border: 1px solid black !important;
}

.nopadding {
  padding: 0!important;
}


@media screen and (min-width: 768px) {
  #offcanvasNavbar-expand-lg .justify-content-end.flex-grow-1.pe-3 > * {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  #fluid-desk {
    position: absolute;
    /* max-width: 100%; */
    /* padding-right: 0; */
    /* padding-left: 0; */
   /* top: 0; */
  }
  #custom-navbar{
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    
  }

  #custom-navbar-nav{
    border-bottom: 1px solid black;
  }

  #offcanvas-content {
    display: none;
  }
}


@media (max-width: 768px) {
  .hide-on-mobile {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .login-container {
    height: auto;
    padding: 1rem;
  }
}

